@{
    var jsonRolesName = ViewBag.JsonRolesName;
}
<body>
    <main>
        <div asp-controller="action" class="container col-3 mx-auto">
            <div class="mb-3  ">
                <label class="fs-6 ">角色權限</label>
                <select id="dropDownRole" name="dropDownRole">
                </select>
            </div>
            <div class="mb-3 ">
                <label class="fs-6 ">啟用/禁用狀態</label>
                <input type="checkbox" id="ckbStatus" name="ckbStatus" checked>
            </div>
            <div>
                <button type="button" id="btnSubmitEditUserState" class="btn btn-dark">確認</button>
                <button type="button" class="btn btn-dark" onclick="window.location.href=`/MainUser/Index`">取消</button>
            </div>
        </div>
        <script>
            //設定按鈕事件
            document.getElementById("btnSubmitEditUserState").addEventListener('click', function () {
                const selectRoleElement = document.getElementById("dropDownRole");
                const status = document.getElementById("ckbStatus").checked;
                const selectRoleValue = selectRoleElement.value;
                const url = `/MainUser/SubmitEditUserRole?UserId=${@ViewBag.UserId}&Role=${selectRoleValue}&Status=${status}`;
                window.location.href = url
            })

            var NameList = JSON.parse('@Html.Raw(ViewBag.JsonRolesName)');
            var selectElement = document.getElementById("dropDownRole");

            NameList.forEach(function (name) {
                if (name != "SuperAdmin") {
                    var option = document.createElement("option");
                    option.value = name;
                    option.textContent = name;
                    selectElement.appendChild(option);
                }
            });
        </script>

    </main>
</body>