@{ Layout = "~/Views/Shared/MainHomeLayout.cshtml"; }
@{
    ViewBag.Title = "使用者管理";
}
<body>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/css/MainUser.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <main>
        <h1 class="text-center mb-3">@ViewBag.Title</h1>
        <table id="userTable" class="table" style="table-layout:fixed" border="1">
            <thead>
                <tr>
                    <th>
                        <button type="button" id="btnAdd" class="btn btn-outline-dark" onclick='location.href="/MainUser/CreateUser"'>新增</button>
                        <button type="button" id="btnGetAllUser" class="btn btn-outline-dark" onclick='getAll()'>查詢全部</button>
                    </th>
                    <th class="text-lg-end">
                        <label>輸入搜尋ID</label>
                    </th>
                    <th>
                        <input type="text" id="txbSelectUserId" style="width:100%" pattern="^[\d]{1,8}$" required />
                    </th>
                    <th class="text-lg-start">
                        <button type="button" id="btnSelectByUserId" class="btn btn-outline-dark" onclick='selectUser("txbSelectUserId", "UserId", "unknown", "UserId", 1, "Ascending");'>搜尋</button>
                    </th>
                    <th>
                        <span id="searchWarning" class="text-danger"></span>
                    </th>
                </tr>
                <tr class="bg-gradient text-bg-dark ">
                    <th scope="col">#</th>
                    <th scope="col">Id<button id="sortById" class="btn btnSort" onclick="getSortedUser('sortById', 'UserId')"></button></th>
                    <th scope="col">帳號<button id="sortByAcct" class="btn btnSort" onclick="getSortedUser('sortByAcct', 'Account')"></button></th>
                    <th scope="col">姓名<button id="sortByName" class="btn btnSort" onclick="getSortedUser('sortByName', 'Name')"></button></th>
                    <th scope="col">狀態<button id="sortByStatus" class="btn btnSort" onclick="getSortedUser('sortByStatus', 'Status')"></button></th>
                    <th scope="col">角色<button id="sortByRole" class="btn btnSort" onclick="getSortedUser('sortByRole', 'RoleId')"></button></th>
                    <th scope="col">操作選項</th>
                </tr>
            </thead>
            <tbody>
                <!-- 用來插入用戶資料的行將在這裡 -->
            </tbody>
        </table>
        <nav aria-label="Data navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item"><button class="page-link" id="previousPage" onclick="previousPage()">Previous</button></li>
                <li class="page-item"><button class="page-link" id="firstPage" onclick="firstPage()">1</button></li>
                <li class="page-item ms-1 me-1">...</li>
                <li class="page-item"><button class="page-link" id="currentPage">1</button></li>
                <li class="page-item ms-1 me-1">...</li>
                <li class="page-item"><button class="page-link" id="lastPage" onclick="lastPage()">9</button></li>
                <li class="page-item"><button class="page-link" id="nextPage" onclick="nextPage()">Next</button></li>
            </ul>
        </nav>
        <script>

            let lastSortBtnColumn = "UserId";
            let lastSortOrder = "Ascending";
            let lastSelectTxbId = "";
            let lastSelectColumn = "";
            let lastSelectValue = "";

            getAll(); //第一次

            function getAll() {
                let btns = document.querySelectorAll(`.btnSort`);
                btns.forEach(btn => {
                    btn.style.backgroundImage = "url(../images/arrowAscending.png)";
                })
                lastSelectTxbId = "";
                lastSelectColumn = "";
                lastSelectValue = "";
                getUser("UserId", 1, "Ascending");
            }

            function firstPage() {
                document.getElementById("currentPage").innerHTML = 1;

                if (lastSelectTxbId == "" || lastSelectColumn == "" || lastSelectValue == "") {
                    getUser(lastSortBtnColumn, 1, lastSortOrder);
                }
                else
                {
                    selectUser(lastSelectTxbId, lastSelectColumn, lastSelectValue, lastSortBtnColumn, 1, lastSortOrder)
                }
            }

            function previousPage() {
                let oldCurrentPage = parseInt(document.getElementById("currentPage").innerHTML);
                let newCurrentPage = oldCurrentPage;

                if (currentPage > 1) {
                    newCurrentPage = oldCurrentPage - 1;
                    document.getElementById("currentPage").innerHTML = newCurrentPage;
                }
                else
                {
                    newCurrentPage = 1
                }

                if (lastSelectColumn === "" | lastSelectValue === "" | lastSelectTxbId === "")
                {
                    getUser(lastSortBtnColumn, newCurrentPage, lastSortOrder);
                }
                else
                {
                    selectUser(lastSelectTxbId, lastSelectColumn, lastSelectValue, lastSortBtnColumn, newCurrentPage, lastSortOrder)
                }
            }

            function nextPage() {
                let oldCurrentPage = parseInt(document.getElementById("currentPage").innerHTML);
                let maxPage = parseInt(document.getElementById("lastPage").innerHTML)
                let newCurrentPage = oldCurrentPage

                if (oldCurrentPage < maxPage) {
                    newCurrentPage = oldCurrentPage + 1;
                    document.getElementById("currentPage").innerHTML = newCurrentPage;
                }
                else {
                    newCurrentPage = maxPage;
                }

                if (lastSelectColumn === "" || lastSelectValue === "" || lastSelectTxbId === "") {
                    getUser(lastSortBtnColumn, newCurrentPage, lastSortOrder);
                }
                else {
                    selectUser(lastSelectTxbId, lastSelectColumn, lastSelectValue, lastSortBtnColumn, newCurrentPage, lastSortOrder)
                }
            }

            function lastPage() {
                let maxPage = parseInt(document.getElementById("lastPage").innerHTML);
                document.getElementById("currentPage").innerHTML = maxPage;

                if (lastSelectColumn === "" | lastSelectValue === "" | lastSelectTxbId === "") {
                    getUser(lastSortBtnColumn, maxPage, lastSortOrder);
                }
                else {
                    selectUser(lastSelectTxbId, lastSelectColumn, lastSelectValue, lastSortBtnColumn, maxPage, lastSortOrder);
                }
            }

            function getUser(column, page, sortOrder) {
                lastSortBtnColumn = column;
                lastSortOrder = sortOrder;
                axios.post("/MainUser/GetSortedUser", { Column: column, Page: page, SortOrder: sortOrder })
                    .then(response => {
                        populateTable(response.data.Item1);
                        console.log(response.data.Item2);
                        document.getElementById("lastPage").innerHTML = response.data.Item2;
                    })
                    .catch(error => {
                        console.error("fail", error);
                    })
            }

            function getSortedUser(btnId, column) {
                let btn = document.querySelector(`#${btnId}`);
                let currentBackground = getComputedStyle(btn).backgroundImage;
                let sortOrder;
                let currentPage = document.getElementById("currentPage").innerHTML;
                lastSortBtnColumn = column;

                if (currentBackground.includes('arrowAscending.png')) {
                    sortOrder = 'Descending';
                    btn.style.backgroundImage = "url('../images/arrowDescending.png')";
                }
                else {
                    sortOrder = 'Ascending';
                    btn.style.backgroundImage = "url(../images/arrowAscending.png)";
                }
                lastSortOrder = sortOrder;

                if (lastSelectColumn === "" | lastSelectValue === "" | lastSelectTxbId === "") {
                    getUser(column, currentPage, sortOrder);
                }
                else {
                    selectUser(lastSelectTxbId, lastSelectColumn, lastSelectValue, column, currentPage, sortOrder)
                }
            }

            function populateTable(users) {
                const tableBody = document.getElementById("userTable").getElementsByTagName('tbody')[0];

                // 清空表格（如果之前有數據）
                tableBody.innerHTML = '';

                // 遍歷所有用戶，並創建相應的表格行
                users.forEach((user, index) => {
                    const row = document.createElement('tr');  // 創建一行
                    //不想顯示可以用

                    // 創建並填充表格單元格
                    const rowSort = document.createElement('th');
                    rowSort.textContent = index + 1;
                    rowSort.scope = "row";
                    row.appendChild(rowSort);

                    const cellId = document.createElement('td');
                    cellId.textContent = user.UserId;

                    row.appendChild(cellId);

                    const cellAcct = document.createElement('td');
                    cellAcct.textContent = user.Account;
                    row.appendChild(cellAcct);

                    const cellName = document.createElement('td');
                    cellName.textContent = user.Name;
                    row.appendChild(cellName);

                    const cellStatus = document.createElement('td');
                    cellStatus.textContent = user.Status ? "啟用" : "禁用";
                    row.appendChild(cellStatus);

                    const cellRoleId = document.createElement('td');
                    cellRoleId.textContent = user.RoleId;
                    row.appendChild(cellRoleId);

                    const cellEdit = document.createElement('td');

                    const cellEditBtn = document.createElement("button");
                    cellEditBtn.className = "btnEditUser";
                    cellEditBtn.addEventListener("click", function () {
                        let NameOrAcct = document.getElementById("boxPersonalName").innerText;
                        editUserRoleAndStatus(user.UserId, NameOrAcct, user.RoleId, user.Status);
                    });
                    cellEdit.appendChild(cellEditBtn);

                    const cellDeleteBtn = document.createElement("button");
                    cellDeleteBtn.className = "btnDeleteUser";
                    cellDeleteBtn.addEventListener("click", function () {
                        delUser(user.UserId);
                    });
                    cellEdit.appendChild(cellDeleteBtn);

                    if (user.RoleId != "1") {
                        row.appendChild(cellEdit);
                    }


                    // 把這一行加到表格中
                    tableBody.appendChild(row);
                });
            }

            function delUser(userId) {
                Swal.fire({
                    title: '確定要刪除這個項目嗎？',
                    text: "這個操作無法恢復！",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '刪除',
                    cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios.post("/MainUser/DeleteUser", { UserId: userId })
                            .then(response => {
                                window.location.href = '/MainUser/Index';
                            })
                            .catch(error => { console.error(error) })
                    }
                })
            }

            function selectUser(txbSelectElementId, selectColumn, value, sortColumn, page, sortOrder) {
                var searchInput = document.getElementById(txbSelectElementId);
                var selectText = searchInput.value;
                var regex = new RegExp(searchInput.pattern);

                //設定最後搜尋欄位
                lastSelectTxbId = txbSelectElementId;
                lastSelectColumn = selectColumn;

                //如果說是第一次搜尋(分成找上次搜尋的資料或者新的搜尋)
                if (value === "unknown")
                {
                    lastSelectValue = selectText;
                    value = selectText;
                }

                if (!regex.test(selectText))
                {
                    document.getElementById("searchWarning").innerText = "請輸入有效格式";
                    return;
                }

                document.getElementById("searchWarning").innerText = " ";

                axios.post("/MainUser/SelectUser", { SelectColumn: selectColumn, Value: value, SortColumn: sortColumn, Page: page, SortOrder: sortOrder })
                    .then(response => {
                        let users = response.data.Item1;
                        if (!(users == "noUser")) {
                            if (!Array.isArray(users))  users = [users]; 
                            populateTable(users);
                            document.getElementById("lastPage").innerHTML = response.data.Item2;
                        }
                        else {
                            document.getElementById("lastPage").innerHTML = 1;
                            document.getElementById("userTable").getElementsByTagName('tbody')[0].innerHTML = "";
                        }
                    })
                    .catch(error => {
                        console.error("fail", error);
                    })
            }

            function editUserRoleAndStatus(userId, nameOrAcct, userRoleId, userStatus) {
                let roleSelectOptions;
                let statusSelectOptions;

                if (userStatus) {
                    statusSelectOptions = `<option value="1" selected>啟用</option>` + `<option value="0" >禁用</option>`;
                } else {
                    statusSelectOptions = `<option value="1" >啟用</option>` + `<option value="0" selected>禁用</option>`;
                }

                axios.post("/UserRole/GetAllRole")
                    .then(response => {
                        roleSelectOptions = populateRoleOptionData(response.data, userRoleId);
                        Swal.fire({
                            title: '修改使用者',
                            html: `
                                                     <label for="roleSelect">選擇角色:</label>
                                                     <select id="roleSelect" class="swal-selectRole">
                                                        ${roleSelectOptions}
                                                     </select>
                                                     <br><br>
                                                     <label for="statusSelect">選擇狀態:</label>
                                                     <select id="statusSelect" class="swal-selectStatus">
                                                        ${statusSelectOptions}
                                                     </select>`
                            ,
                            icon: 'question',
                            background: '#f0f0f0',
                            showCancelButton: true,
                            confirmButtonText: '確定',
                            cancelButtonText: '取消',
                            preConfirm: () => {
                                const roleSelectValue = document.getElementById('roleSelect').value;
                                const statusSelectValue = document.getElementById('statusSelect').value;
                                return { roleSelect: roleSelectValue, statusSelect: statusSelectValue };
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                axios.post("/MainUser/SubmitEditUserRole", {
                                    UserId: userId,
                                    RoleId: result.value.roleSelect,
                                    Status: result.value.statusSelect
                                })
                                    .then(response => {
                                        window.location.href = "/MainUser/Index"
                                    })
                                    .catch(error => {
                                        console.error("fail", error);
                                    })
                            }
                        });
                    })
                    .catch(error => {
                        console.error("fail", error);
                    })
            }

            function populateRoleOptionData(roles, roleId) {
                let selectOptions = '';
                roles.forEach(role => {
                    if (role.RoleId != "1") {
                        if (role.RoleId === roleId) {
                            selectOptions += `<option value="${role.RoleId}" selected>角色名：${role.Name}</option>`;//－權限描述：${role.Description}
                        } else {
                            selectOptions += `<option value="${role.RoleId}">角色名：${role.Name}</option>`;
                        }
                    }
                });
                return selectOptions;
            }
        </script>
    </main>
</body>

