
@{ Layout = "~/Views/Shared/MainHomeLayout.cshtml"; }
@{
    ViewBag.Title = "主頁";
}

<body>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <main>
        <p>主頁</p>
        <p></p>
    </main>
    <script>
        let alertMessage = "@ViewBag.NoPermissionMessage";

       if ("修改密碼成功" == "@ViewBag.EditPwdMessage") editPwdSuccess();

        if (alertMessage != "") {
            Swal.fire({
                title: '警告',
                text: alertMessage,
                icon: 'warning',
                confirmButtonText: '確定'
            });
        }

        function editPwdSuccess() {
            Swal.fire({
                title: '修改密碼成功',
                icon: 'info',
                confirmButtonText: '確認'
            })
        }
    </script>
</body>

