<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--viewport：設定頁面view的參數(大小及縮放)-->
    <title>Login</title>
</head>
<body>
    <div class="container">


    </div>
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Login</p>
        </footer>
    </div>

</body>
</html>
