
tbody button {
    background-size: cover; 
    background-position: center; 
    border: none;
    padding: 10px; 
    cursor: pointer;
    margin-right: 5px;
}
.btnEditUser {
    background-image: url(../images/Pencel.jpg);
}

.btnDeleteUser {
    background-image: url(../images/Garbage.jpg);
}

.btnSort {
    background-size: cover;
    background-position: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

#btnAdd {
    text-align: center;
}