body {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    /*position: fixed;*/
    background-color: #c4d0d4;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.navbar-nav .nav-link {
    color: #000000; /* 深灰色文字 */
}


main {
    padding: 20px;
}

#boxPersonalData {
    display: none;
    position: fixed;
    z-index: 1;
    top: 43px;
    right: 25px;
    width: 255px;
    height: 165px;
    background-color: white;
}
