body {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    height: 100vh; /* 使側邊欄高度充滿屏幕 */
    position: fixed; /* 固定在屏幕左側 */
    top: 0;
    left: 0;
    padding-top: 50px;
}

main {
    padding: 20px;
}

#boxPersonalData {
    display: none;
    position: fixed;
    z-index: 1;
    top:43px;
    right:25px;
    width: 255px;
    height: 165px;
    background-color: white;
}
