
tbody button {
    background-size: cover;
    background-position: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.btnEditMemberData {
    background-image: url(../images/Pencel.jpg);
}

.btnEditMemberLevel {
    background-image: url(../images/Pencel.jpg);
}

.btnSort {
    background-size: cover;
    background-position: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
}

#btnAdd {
    text-align: center;
}

#sortById {
    background-image: url(../images/arrowAscending.png);
}

#sortByEmail {
    background-image: url(../images/arrowAscending.png);
}

#sortByPhone {
    background-image: url(../images/arrowAscending.png);
}

#sortByMemberName {
    background-image: url(../images/arrowAscending.png);
}

#sortByStatus {
    background-image: url(../images/arrowAscending.png);
}

#sortByLevel {
    background-image: url(../images/arrowAscending.png);
}
