
tbody button {
    background-size: cover; /* 使圖片適應按鈕大小 */
    background-position: center; /* 圖片居中顯示 */
    border: none; /* 去除按鈕的邊框 */
    padding: 10px; /* 按鈕內邊距 */
    cursor: pointer;
    margin-right: 5px;
}
.btnEditUser {
    background-image: url(../images/Pencel.jpg);
}

.btnDeleteUser {
    background-image: url(../images/Garbage.jpg);
}

#btnAdd {
    text-align: center;
}